 
#grad1 {
  height: 1000px;
  background-image: linear-gradient(white, purple);
}
.btn {
  border: 2px solid purple;
  background-color: lavender;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {background: #eee;}

.login {color: black;}
.createacc {color: black;}

 .newdiv {
        height: 500px;
        width: 50%;
        margin: auto;
        padding: 10px;
        background-color: white;
        align-content:center;
        text-align:center;
    }


.vertical-center {
  margin: auto;
  position: absolute;
  top: 50%;
    padding: 10px
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
